absl-py==0.11.0
aniso8601==8.0.0
astor==0.8.1
bcrypt==3.2.0
bert-serving-client==1.10.0
bert-serving-server==1.10.0
cached-property==1.5.2
cffi==1.14.3
click==7.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-RESTful==0.3.8
gast==0.2.2
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.33.2
h5py==3.1.0
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
MarkupSafe==1.1.1
nltk==3.5
numpy==1.18.5
opt-einsum==3.3.0
protobuf==3.14.0
pycparser==2.20
pymongo==3.11.0
pytz==2020.4
pyzmq==20.0.0
regex==2020.11.13
six==1.15.0
tensorboard==1.15.0
tensorflow==1.15.4
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.51.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
