.login-container {
  width: 100%;
  padding: 50px;
}

.login-wrapper {
  width: 400px;
  margin: 0 auto;
}

.login-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #00e000;
  position: relative;
  font-weight: bold;
}

.login-wrapper h1:before,
.login-wrapper h1:after {
  content: '';
  width: 35%;
  height: 3px;
  background-color: #00e000;
  position: absolute;
  top: 50%;
  border-radius: 10px;
}

.login-wrapper h1:before {
  left: 0;
}

.login-wrapper h1:after {
  right: 0;
}
