.card-select {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  position: relative;
  /* border: 1px solid black; */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  overflow: hidden;
  cursor: pointer;
}

.card-select .background {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in;
}

.card-select.writing .background {
  background: linear-gradient(-45deg, #ff512f, #dd2476);
}

.card-select.reading .background {
  background: linear-gradient(-45deg, #e65c00, #f9d423);
}

/* Hover */
.card-select:hover .background {
  transform: translate(-8%, -70%);
  width: 120%;
  height: 120%;
  border-radius: 50% 50% 70% 70%;
}

.card-select:hover .card-select-body h2 {
  transform: translateY(-80%);
  font-size: 1.5rem;
}

.card-select:hover .card-select-body p {
  opacity: 1;
  transform: translateY(20%);
}

/* End Hover */

/* Card container */
.card-select-body {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Card title */
.card-select-body h2 {
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  transform: translateY(100%);
  transition: 0.2s ease-in;
  font-size: 2rem;
  color: white;
}

/* Card description */
.card-select-body p {
  opacity: 0;
  transition: 0.2s ease-in;
}
