body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-btn-primary a {
  color: white !important;
}

.collapse-custom .ant-collapse-header {
  text-align: left !important;
}
.transfermarkt_profile_pic {
  width: 30px;
  height: 35px;
  margin-right: 1%;
}

.profile-header__icon {
  width: 15;
  height: 15;
  margin-left: 2%;
}
.transfermarkt_id_tags {
  margin-left: 1%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
