.big-card .paragraph {
  color: black;
  column-rule-color: gainsboro;
  column-rule-style: solid;
  column-gap: 3rem;
  column-count: 2;
  column-rule-width: 1px;
}

.big-card .img-container {
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.big-card .img-container img {
  width: 100%;
  height: auto;
}

.ant-layout-footer {
  display: none !important;
}

.big-card .badge-danger {
  background-color: rgb(255 62 62) !important;
}
.big-card .badge-success {
  background-color: rgb(49 230 49) !important;
}
