.body-content {
  width: 100%;
  padding: 120px !important;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.body-content.reverse {
  background-color: rgb(246, 251, 255);
}

.body-content-row {
  display: flex;
  align-items: center;
}

.body-content h2 {
  font-size: 2.2rem;
  line-height: 2.9rem;
}

.body-content p {
  font-size: 1.1rem;
  margin-top: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  /* transition: 0.2s ease-in; */
}

.img-container img:hover {
  /* transform: rotate(10deg); */
  animation: rotate-img 4s ease-in infinite;
}

@keyframes rotate-img {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 810px) {
  /* .body-content-row {
    display: flex;
    flex-direction: column;
  } */
  .body-content {
    padding: 120px 60px !important;
  }
}

@media (max-width: 600px) {
  .body-content h2 {
    font-size: 1.8rem;
  }
  .body-content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .body-content {
    padding: 120px 10px !important;
  }
}
